$backgroundColor: #3ab4bd;


.login__container {
    background-color: $backgroundColor;
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login {
    border: 1px black solid;
    height: 300px;
    width: 50%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

    &__title {
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60%;

        & input {
            margin-bottom: 20px;
            width: 50%;
            height: 40px;
            border-radius: 10px;
        }
    }

    &__button {
        display: flex;
        justify-content: center;

        height: 20%;

        & button {
            position: relative;
            border-radius: 10px;
            height: 80%;
            width: 100px;
        }
    }
}